* {
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
}

body {
  font-family: 'Frank Ruhl Libre', sans-serif;
}

h1 {
  padding: 30px 10px 20px 20px;
}

footer {
  clear: left;
  padding: 3% 0 0 5%;
}

a {
  text-decoration: none;
}


/* unvisited link */

a:link {
  color: black;
}


/* visited link */

a:visited {
  color: darkgray;
}


/* hoover over link */

a:hover {
  color: hotpink;
}


/* selected link */

a:active {
  color: gray;
}

.columns {
  float: left;
  width: 250px;
  padding: 10px 0px 10px 5%;
}
