
#container {
	width: 800px;
	margin-left: 60px;
	margin-right: auto;
	margin-top: 20px;
	padding: 30px;
	background-color: white;
	font-family: helvetica;
}

svg {
	background-color: white;
	padding-left: 20px;

}

#tooltip {
	width: 140px;
	height: auto;
	position: absolute;
	font-family: helvetica;
}

#tooltip.hidden {
	display: none;
}
