header {
	text-align: center;
}

body {
	font-family: 'Frank Ruhl Libre', sans-serif;
}

h1 {
	padding-left: 5%;
}

h3 {
	padding-top: 20px;
	padding-left: 5%;
}

div.blog-post {
	width: 80%;
	min-height: 500px;
}

div.text {
	width: 60%;
	padding-left: 40%;
	float:right;
	display: inline-block;

}

div.photo {
	padding-left: 40%;
	/*padding-bottom: 5%;*/
	width: 60%;
	display: inline-block;
	/*width:50%;
	float: right;*/

}

img {
	/*width:50%;*/
	padding-right: 50px;
	float:left;

}

/*links*/

a {
	text-decoration: none;
}
/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: darkgray;
}

/* hoover over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: gray;
}
